# Dependencies
**/node_modules/

# Next.js
**/.next/

# Build output
dist/
build/
out/

# Environment variables
.env
.env.local
**/.env
**/.env.local

# Logs
*.log

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo